/* GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
html {
    font-family: "Source Sans Pro","Volkhov",sans-serif;
    font-weight: 400;
    color: #707070;
    scroll-behavior: smooth;
}
a, a:hover {
    text-decoration: none;
}
body button, body a, .btn {
    transition: all .5s;
}
/* LOGO STYLE */
.logo {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Volkhov",serif;
    line-height: 1.75rem;
    color: #fb811e;
    position: relative;
}
.logo:hover {
    color: #060606;
}
.logo i {
    position: absolute;
    top: -.7rem;
    left: 3.5rem;
    font-size: 1.25rem;
}

