/* GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Volkhov', sans-serif;
    color: #060606;
    padding: 0;
    margin: 0;
}

p {
    font-weight: 300;
    line-height: 27px;
    color: #707070;
    padding: 0;
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

body button,
body a,
.btn {
    transition: all .5s;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* LOGO STYLE */
.logo {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Volkhov', serif;
    line-height: 1.75rem;
    color: #fb811e;
    position: relative;
}

.logo:hover {
    color: #060606;
}

.logo i {
    position: absolute;
    top: -.7rem;
    left: 3.5rem;
    font-size: 1.25rem;
}

/* BUTTON STYLE */
.btn__all {
    font-size: 1rem;
    line-height: 1.625rem;
    text-transform: uppercase;
    padding: .75rem 1.875rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    background: #fb811e;
    box-shadow: none;
    color: #fff;
    border-radius: 1.875rem;
}

.btn__all:hover {
    background: #009f4d;
    color: #fff;
}